html
html
   head
      title login
   body
      form(action = "/login", method = "POST")
         div
            label(for = "UserName") Login:
            input(name = "username" )
         br
         div
            label(for = "Password") Password:
            input(name = "password" )
         br
         button(type = "submit") Login
         a(class='button', id="New-user-Register" href='/register') New user Register 


